[KODI JSON-RPC]
hostname: <kodi ip address or hostname; required>
port: <kodi port; required>
username: <kodi username; optional>
password: <kodi password; optional>

[GPIO]
rxdata: <GPIO Pin which connects to the receiver's data pin)

[RF Alert]
code: <RF code to watch out for>

[Alert Notification]
title: <Notification title>
text: <Notification text>

[Local]
command: <local command to be executed on signal receipt>

