[KODI JSON-RPC]
hostname: <(list of comma separated) kodi ip address(es) or hostname(s); required>
port: <kodi port; required>
username: <kodi username; optional>
password: <kodi password; optional>

[GPIO]
rxdata: <GPIO Pin which connects to the receiver's data pin)

[RF Alert]
code: <(list of comma separated) RF code(s) to watch out for>

[Alert Notification]
title: <Notification title>
text: <Notification text>

[Local]
command: <local command to be executed on receipt of alert signal>

